#%RAML 1.0
title: Nested Types
version: 1.0
baseUri: http://nested.com/api
mediaType: application/json
types:
    Movie: 
        type: object
        properties:
            id: integer
            name: 
                type: string
                required: true
                maxLength: 255
            director:
                type: object
                description: Director
                minProperties: 1
                example: asdasdsa
                discriminator: true
                properties:
                    lastname: string
                    firstname: string
            genre: string
            cast: string
            duration: 
                type: number
                minimum: 1
                required: false
            storyline?: string
            language: string
            rented?: boolean
        example: |
            {
                "id" : 1,
                "name": "Big Fish",
                "director": "Tim Burton",
                "genre": "Drama, Fantasy",
                "cast": "Ewan McGregor, Albert Finney, Billy Crudup",
                "language": "English"
            }
    Movies:
        type: Movie[]
    SomeArray:
        type: array
        items:
            type: object
            properties:
                prop1: integer
                prop2: string
/movies:
  get:
    description: gets all movies in the catalogue
    responses:
      200:
        body:
          schema: Movie[]
          example: |
            [
              {
                 "id" : 1,
                 "name": "Big Fish",
                 "director": "Tim Burton",
                 "genre": "Drama, Fantasy",
                 "cast": "Ewan McGregor, Albert Finney, Billy Crudup",
                 "language": "English",
                 "rented": false
              },
              {
                 "id" : 2,
                 "name": "Midnight in Paris",
                 "director": "Woody Allen",
                 "genre": "Comedy",
                 "cast": "Owen Wilson, Rachel McAdams, Kathy Bates",
                 "language": "English",
                 "rented": false
              },
              {
                 "id" : 3,
                 "name": "Relatos Salvajes",
                 "director": "Dami�n Szifr�n",
                 "genre": "Comedy, Drama",
                 "cast": " Ricardo Dar�n, Oscar Mart�nez, Leonardo Sbaraglia",
                 "language": "Spanish",
                 "rented": true
              }
            ]
  post:
    description: adds a movie to the catalogue
    body:
      application/json:
        schema: Movie