#%RAML 1.0
title: Maps
version: 1.0
baseUri: http://maps.com/api
mediaType: application/json
types:
    MapOfInt: 
        type: object
        properties:
            []:
                type: integer
        example: |
            {
                "id" : 1,
                "code": 22323,
                "token": 343432423
            }
    Person:
        type: object
        properties:
            lastname: 
                type: string
                required: true
                maxLength: 255
            firstname: string
    MapOfPerson:
        type: object
        properties:
            []:
                type: Person
        example: |
            {
                "john": {
                    "lastname": "smith"
                    "firstname" : "john"
                },
                "peter": {
                    "lastname": "jackson"
                    "firstname" : "peter"
                }
            }
    MapOfObject:
        type: object
        properties:
            []:
                type: object
                properties:
                    lastname: 
                        type: string
                        required: true
                        maxLength: 255
                    firstname: string
        example: |
            {
                "john": {
                    "lastname": "smith"
                    "firstname" : "john"
                },
                "peter": {
                    "lastname": "jackson"
                    "firstname" : "peter"
                }
            }

/persons:
  get:
    responses:
      200:
        body:
          schema: MapOfPerson
  post:
    description: adds a movie to the catalogue
    body:
      application/json:
        schema: MapOfInt