#%RAML 1.0
title: Movies v 1
version: 1.0
baseUri: http://movies.com/api
mediaType: application/json
protocols: [HTTP]
securitySchemes:
  - oauth_2_0:
      type: OAuth 2.0
      describedBy:
        headers:
          Authorization:
            description: |
              Used to send a valid OAuth 2 access token. Do not use together with
              the "access_token" queryParameters string parameter.
            type: string
        queryParameters:
          access_token:
            description: |
              Used to send a valid OAuth 2 access token. Do not use together with
              the "Authorization" header
            type: string
      settings:
        authorizationUri: https://localhost:8081/oauth/authorize
        accessTokenUri: https://localhost:8081/oauth/access_token
        authorizationGrants: [ code, token ]
        scopes:
          - read
          - write
types:
    Movie: 
        type: object
        properties:
            id: integer
            name: 
                type: string
                required: true
                maxLength: 255
            director: string
            genre: string
            cast: string
            duration: 
                type: number
                minimum: 1
                required: false
            storyline?: string
            language: string
            rented?: boolean
        example: |
            {
                "id" : 1,
                "name": "Big Fish",
                "director": "Tim Burton",
                "genre": "Drama, Fantasy",
                "cast": "Ewan McGregor, Albert Finney, Billy Crudup",
                "language": "English"
            }
/movies:
  get:
    description: gets all movies in the catalogue
    responses:
      200:
        body:
          schema: Movie[]
          example: |
            [
              {
                 "id" : 1,
                 "name": "Big Fish",
                 "director": "Tim Burton",
                 "genre": "Drama, Fantasy",
                 "cast": "Ewan McGregor, Albert Finney, Billy Crudup",
                 "language": "English",
                 "rented": false
              },
              {
                 "id" : 2,
                 "name": "Midnight in Paris",
                 "director": "Woody Allen",
                 "genre": "Comedy",
                 "cast": "Owen Wilson, Rachel McAdams, Kathy Bates",
                 "language": "English",
                 "rented": false
              },
              {
                 "id" : 3,
                 "name": "Relatos Salvajes",
                 "director": "Dami�n Szifr�n",
                 "genre": "Comedy, Drama",
                 "cast": " Ricardo Dar�n, Oscar Mart�nez, Leonardo Sbaraglia",
                 "language": "Spanish",
                 "rented": true
              }
            ]
  post:
    description: adds a movie to the catalogue
    securedBy: [ oauth_2_0 ]
    body:
      application/json:
        schema: Movie
  /{id}:
    get:
      description: get the info of a movie
      responses:
        200:
          body:
            application/json:
              schema: Movie
    put:
      description: update the info of a movie
      body:
        application/json:
          schema: Movie
    delete:
      description: remove a movie from the catalogue
      responses:
        200:
          description: movie deleted
        404:
          description: movie not found
    /rent:
      description: rent a movie
      put:
        securedBy: [ oauth_2_0 ]
        responses:
          201:
            description: succesfully rented
          202:
            description: movie already rented
          404:
            description: movie not found
    /return:
      description: return a movie
      put:
        securedBy: [ oauth_2_0 ]
        responses:
          201:
            description: succesfully returned
          404:
            description: movie not found
  /wishlist:
    get:
      description: gets the current user movies wishlist
      securedBy: [ oauth_2_0 ]
      responses:
        200:
          body:
            schema: Movie[]
            example: |
              [
                {
                   "id" : 1,
                   "name": "Big Fish",
                   "director": "Tim Burton",
                   "genre": "Drama, Fantasy",
                   "cast": "Ewan McGregor, Albert Finney, Billy Crudup",
                   "language": "English",
                   "rented": false
                },
                {
                   "id" : 2,
                   "name": "Midnight in Paris",
                   "director": "Woody Allen",
                   "genre": "Comedy",
                   "cast": "Owen Wilson, Rachel McAdams, Kathy Bates",
                   "language": "English",
                   "rented": false
                }
              ]
    /{id}:
      post:
        description: add a movie to the current user movies wishlist
        securedBy: [ oauth_2_0 ]
      delete:
        description: removes a movie from the current user movies wishlist
        securedBy: [ oauth_2_0 ]
  /rented:
    get:
      description: gets the user rented movies
      responses:
        200:
          body:
            schema: Movie[]
            example: |
              [
                {
                   "id" : 3,
                   "name": "Relatos Salvajes",
                   "director": "Dami�n Szifr�n",
                   "genre": "Comedy, Drama",
                   "cast": " Ricardo Dar�n, Oscar Mart�nez, Leonardo Sbaraglia",
                   "language": "Spanish",
                   "rented": true
                }
              ]
  /available:
    get:
      description: get all movies that are not currently rented
      responses:
        200:
          body:
            schema: Movie[]
            example: |
              [
                {
                   "id" : 1,
                   "name": "Big Fish",
                   "director": "Tim Burton",
                   "genre": "Drama, Fantasy",
                   "cast": "Ewan McGregor, Albert Finney, Billy Crudup",
                   "language": "English",
                   "rented": false
                },
                {
                   "id" : 2,
                   "name": "Midnight in Paris",
                   "director": "Woody Allen",
                   "genre": "Comedy",
                   "cast": "Owen Wilson, Rachel McAdams, Kathy Bates",
                   "language": "English",
                   "rented": false
                },
                {
                   "id" : 3,
                   "name": "Relatos Salvajes",
                   "director": "Dami�n Szifr�n",
                   "genre": "Comedy, Drama",
                   "cast": " Ricardo Dar�n, Oscar Mart�nez, Leonardo Sbaraglia",
                   "language": "Spanish",
                   "rented": true
                }
              ]
/search:
  get:
    description: search movies by name or director
    queryParameters:
      name:
        description: Name of the movie
        type: string
      director:
        description: Director of the movie
        type: string
    responses:
      200:
        body:
          schema: Movie[]
          example: |
            [
              {
                 "id" : 1,
                 "name": "Big Fish",
                 "director": "Tim Burton",
                 "genre": "Drama, Fantasy",
                 "cast": "Ewan McGregor, Albert Finney, Billy Crudup",
                 "language": "English",
                 "rented": false
              },
              {
                 "id" : 2,
                 "name": "Midnight in Paris",
                 "director": "Woody Allen",
                 "genre": "Comedy",
                 "cast": "Owen Wilson, Rachel McAdams, Kathy Bates",
                 "language": "English",
                 "rented": false
              },
              {
                 "id" : 3,
                 "name": "Relatos Salvajes",
                 "director": "Dami�n Szifr�n",
                 "genre": "Comedy, Drama",
                 "cast": " Ricardo Dar�n, Oscar Mart�nez, Leonardo Sbaraglia",
                 "language": "Spanish",
                 "rented": true
              }
            ]