{
    artifact: {
        id: "a-1",
        type: "APPLICATION",
        name: "app1",
        version: 1,
        
    },
    serverId: "s-1",
    status: "DEPLOYING",
    desiredStatus: "DEPLOYED",
    message: null,
    discovered: false,
    deploymentId: "d-1"
}