#%RAML 0.8
title: Movies
version: 1.0
baseUri: http://movies.com/api
mediaType: application/json
/movies:
  get:
    description: gets all movies in the catalogue
    responses:
      200:
        body:
          schema: !include "movies.schema"
          example: |
            [
              {
                 "id" : "1",
                 "name": "Big Fish",
                 "director": "Tim Burton",
                 "genre": "Drama, Fantasy",
                 "cast": "Ewan McGregor, Albert Finney, Billy Crudup",
                 "language": "English",
                 "rented": false
              },
              {
                 "id" : "2",
                 "name": "Midnight in Paris",
                 "director": "Woody Allen",
                 "genre": "Comedy",
                 "cast": "Owen Wilson, Rachel McAdams, Kathy Bates",
                 "language": "English",
                 "rented": false
              },
              {
                 "id" : "3",
                 "name": "Relatos Salvajes",
                 "director": "Dami�n Szifr�n",
                 "genre": "Comedy, Drama",
                 "cast": " Ricardo Dar�n, Oscar Mart�nez, Leonardo Sbaraglia",
                 "language": "Spanish",
                 "rented": true
              }
            ]
  /{id}:
    get:
      description: get the info of a movie
      responses:
        200:
          body:
            application/json:
              schema: |
                {
                  "$schema": "http://json-schema.org/draft-03/schema",
                  "type": "object",
                  "description": "a movie",
                  "properties": {
                    "id": { "type": "integer"},
                    "name": { "type": "string"},
                    "director": { "type": "string"},
                    "genre": { "type": "string" },
                    "cast":{ "type": "string" },
                    "duration":{ "type": "number" },
                    "storyline":{ "type": "string" },
                    "language":{ "type": "string" },
                    "rented":{ "type": "boolean" }
                  }
                }
              example: |
                {
                  "id" : "1",
                  "name": "Big Fish",
                  "director": "Tim Burton",
                  "genre": "Drama, Fantasy",
                  "cast": "Ewan McGregor, Albert Finney, Billy Crudup",
                  "language": "English",
                  "rented": false
                }
